.board-row{
    display: flex;
    flex-flow: row wrap;
    color: aqua;
}
.btn{
   
    display: flex;
    border: 0;
    background-color: brown;
    padding: 10px;
    width: max-content;
    margin-bottom: 2rem;
    margin-right: 10ren;
}
.btn:hover{
    background-color: darkmagenta;
    transform: scale(1.1);
    transition: .5s;
}
